<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script> 
<script type="text/javascript" src="/static/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.page.js"></script> 
<!--/_footer /作为公共模版分离出去-->




</body>
</html>